In [2]:
# Install a pip comtradeapicall package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install --upgrade comtradeapicall

Requirement already satisfied: comtradeapicall in /Users/oliverlysaght/anaconda3/lib/python3.10/site-packages (1.0.20)

In [3]:
# Install a pip pandas package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /Users/oliverlysaght/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/oliverlysaght/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/oliverlysaght/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/oliverlysaght/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/oliverlysaght/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas
import requests
import comtradeapicall

In [5]:
#set some variables
from datetime import date
from datetime import timedelta
today = date.today()
yesterday = today - timedelta(days=1)
lastweek = today - timedelta(days=7)

In [9]:
# Set subscription key and directory
subscription_key = 'c5fed294c36c4a38b61f6da8eaf24fc2' # comtrade api subscription key (from comtradedeveloper.un.org)
directory = '<OUTPUT DIR>'  # output directory for downloaded files

In [ ]:
# Preview data 
mydf = comtradeapicall.previewFinalData(

In [ ]:
# Look at head of data
mydf.head(5)

In [ ]:
# Call get tariffline data API to a data frame, max to 250K records, subscription key required

In [10]:
mydf = comtradeapicall.getFinalData(subscription_key,
                                    # Type of trade: C for commodities and S for service
                                    typeCode='C',
                                    # Trade frequency: A for annual and M for monthly
                                    freqCode='A',
                                    # Trade (IMTS) classifications: HS, SITC, BEC or EBOPS.
                                    clCode='HS', 
                                    # Year or month. Year should be 4 digit year. Month should be six digit integer with the values of the form YYYYMM
                                    period='2021',
                                    # Reporter code (Possible values are M49 code of the countries separated by comma (,))
                                    reporterCode='826',
                                    # Commodity code. Multi value input should be in the form of csv (Codes separated by comma (,))
                                    cmdCode='26',
                                    # Trade flow code. Multi value input should be in the form of csv (Codes separated by comma (,))
                                    flowCode='M',
                                    # Partner code (Possible values are M49 code of the countries separated by comma (,))
                                    partnerCode=None,
                                    partner2Code=None,
                                    # Customs code. Multi value input should be in the form of csv (Codes separated by comma (,))
                                    customsCode=None, 
                                    motCode=None,
                                    # Output format
                                    format_output='JSON',
                                    # Add parameters in csv list on which you want the results to be aggregated
                                    aggregateBy=None,
                                    # Mode to choose from
                                    breakdownMode='classic',
                                    countOnly=None,
                                    # Include description
                                    includeDesc=True)

In [11]:
# Look at head of data
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,M,...,0.0,True,0.0,False,2.754163e+09,0.0,2.754163e+09,4,False,True
1,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,M,...,0.0,True,0.0,False,7.747392e+07,0.0,7.747392e+07,4,False,True
2,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,M,...,0.0,True,0.0,False,1.209493e+05,0.0,1.209493e+05,4,False,True
3,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,M,...,0.0,False,0.0,False,4.992676e+03,0.0,4.992676e+03,0,False,True
4,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,M,...,0.0,False,0.0,False,2.552952e+06,0.0,2.552952e+06,0,False,True